{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New Item</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="script.js"></script>
</head>
<body>
    <header>
        <h1>Create a New Item</h1>
    </header>
    <main>
        <div>
            <form method="post" action="{% url 'todo_item_create' %}">
                {% csrf_token %}
                <label for="task">Task:</label>
                <input id="task" type="text" name="task" required>
                
                <label for="due_date">Due Date (YYYY-MM-DD):</label>
                <input id="due_date" type="text" name="due_date" placeholder="YYYY-MM-DD">
                
                <label for="is_completed">Is Completed:</label>
                <input id="is_completed" type="checkbox" name="is_completed">
                
                <label for="list">List:</label>
                <select id="list" name="list">
                    {% for todo_list in todo_lists %}
                        <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>

