{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update item</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="post" action="{% url 'todo_item_update' id=object.id %}">
                {% csrf_token %}
                <label for="task">Task:</label>
                <input id="task" type="text" name="task" value="{{ object.task }}" required>
                
                <label for="due_date">Due Date:</label>
                <input id="due_date" type="text" name="due_date" value="{{ object.due_date }}">
                
                <label for="is_completed">Is Completed:</label>
                <input id="is_completed" type="checkbox" name="is_completed" {% if object.is_completed %}checked{% endif %}>
                
                <label for="list">List:</label>
                <select id="list" name="list">
                    {% for todo_list in todo_lists %}
                        <option value="{{ todo_list.id }}" {% if object.list.id == todo_list.id %}selected{% endif %}>
                            {{ todo_list.name }}
                        </option>
                    {% endfor %}
                </select>

                <button type="submit">Update</button>
            </form>
        </div>
    </main>
</body>
</html>
