<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo_lists.name }}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_lists.name }}</h1>
            <p><a href="{% url 'todo_list_update' todo_lists.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' id=todo_lists.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_items %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' id=item.id %}">{{ item.task }}</a></td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    
</body>
</html>