{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new list</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <main>
        <div>
            <h1>Create a new list</h1>
            <form method="post">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input type="text" name="name" required>
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>
