/* Fancy Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(90deg, rgba(255, 100, 255, 1), rgba(255, 255, 100, 1));
    margin: 0;
    padding: 0;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    text-shadow: 2px 2px 4px #ccc;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 50px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: left;
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #007BFF;
}

/* Fancy Buttons */
p > a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: linear-gradient(90deg, rgba(0, 123, 255, 1), rgba(0, 56, 179, 1));
    color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
}

p > a:hover {
    background: linear-gradient(90deg, rgba(0, 56, 179, 1), rgba(0, 123, 255, 1));
    transform: scale(1.05);
}
